@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.google-logo {
  width: 20px;
  height: 20px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.TEX, 
.mensagem {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 74, 173);

  font-size: small;
}
.google-login-button,
#button {
  background-color: #f4f4f4;
  border: 1px solid rgb(0, 0, 0); /* Ajuste a borda conforme necessário */
  color: #060606;
  cursor: pointer; 
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.clear {
  background: transparent;
  border: none;
}

#button {
  background: rgb(20, 129, 64);
  color: #fff;
  border: none;
  justify-content: center;
}
#button:hover {
  background: rgb(19, 174, 19);
}
.logo {
  width: 300px;
  height: 300px;
  padding-left: 35px;
  justify-content: center;
}


    /* Estilos para cobrir a tela inteira com fundo escuro */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    }

    /* Estilos para o modal */
    .modal {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para o efeito de elevação */
      font-size: 36px; /* Tamanho da fonte grande */
      color: green; /* Cor verde */
    }

    /* Estilize o botão para abrir o modal se necessário */
    .open-modal-button {
      cursor: pointer;
    }
.mensagem {
        color: #7f7f7f;
    }
a {
  color: #4CAF50;
}